<div class="ui floating dropdown link jump">
	<span class="text">
		{{if eq .CalcState "pending"}}
			<i class="commit-status circle icon yellow"></i>
		{{else if eq .CalcState "success"}}
			<i class="commit-status check icon green"></i>
		{{else if eq .CalcState "error"}}
			<i class="commit-status warning icon red"></i>
		{{else if eq .CalcState "failure"}}
			<i class="commit-status remove icon red"></i>
		{{else if eq .CalcState "warning"}}
			<i class="commit-status warning sign icon yellow"></i>
		{{end}}
	</span>
	<div class="commit-status overflow menu" tabindex="-1">
		<div class="ui top attached header">
			 {{if eq .CalcState "pending"}}
				"repo.pulls.status_checking"
			{{else if eq .CalcState "success"}}
				"repo.pulls.status_checks_success"
			{{else if eq .CalcState "error"}}
				"repo.pulls.status_checks_error"
			{{else}}
				"repo.pulls.status_checking"
			{{end}}
			<sub>
			FIXME: XX successful checks
			</sub>
		</div>
		{{ range .List }}
			<div class="ui attached segment">
				<div class="item">
					<span>{{ template "repo/commit_status" . }}</span>
					<span class="ui">{{.Context}} <span class="text grey">{{.Description}}</span></span>
					<span class="ui">{{if .TargetURL}}<a href="{{.TargetURL}}">Details</a>{{end}}</span>
				</div>
			</div>
		{{ end }}
	</div>
</div>
